<a href="https://colab.research.google.com/github/mafloan/Estructura-de-repeticion/blob/main/listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

listas_estudiante=["Pilar Reyna", 7.5, 9, 10, 8]

type(listas_estudiante[-4])

float

In [ ]:
len(listas_estudiante) ##Cantidad de elementos

5

In [ ]:
listas_estudiante[0:2] ##slidemotion - subgrupo

['Pilar Reyna', 7.5]

In [ ]:
listas_estudiante[:3] ##hasta la tercera posicion

['Pilar Reyna', 7.5, 9]

In [ ]:
listas_estudiante[3:] ##todo incluyendo tercera posición

[10, 8]

In [ ]:
listas_estudiante[:] ##muestra toda la lista

['Pilar Reyna', 7.5, 9, 10, 8]

In [ ]:
for elemento in listas_estudiante: ##imprime cada elemento de mi lista
    print(elemento)

Pilar Reyna
7.5
9
10
8.5

In [ ]:
promedio = (listas_estudiante[1]+listas_estudiante[2]+listas_estudiante[3]+listas_estudiante[4])/4
print(promedio)

8.625

In [ ]:
listas_estudiante.append(promedio)  # Añade el promedio a la lista
print(listas_estudiante)  # Esto imprimirá la lista actualizada

['Pilar Reyna', 7.5, 9, 10, 8, 8.625, 8.625, 8.625]

In [ ]:
listas_estudiante.extend([6,7])
print(listas_estudiante)

['Pilar Reyna', 7.5, 9, 10, 8, 8.625, 8.625, 8.625, 6, 7, 8, 6, 7, 6, 7, 6, 7, 6, 7, 6, 7]

In [ ]:
listas_estudiante.remove(6),(7),(6),(7),(6),(7),(6),(7)
print(listas_estudiante)

['Pilar Reyna', 7.5, 8.625, 7, 7, 6, 7, 6, 7]

In [ ]:
pregunta = '¿Quién vino primera? ¿Pilar Reyna? O ¿Solange Bagnasco?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primera', ' ¿Pilar Reyna', ' O ¿Solange Bagnasco', '']

In [ ]:
pregunta = '¿Quién vino primera? ¿Pilar Reyna? O ¿Solange Bagnasco?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primera?', '¿Pilar', 'Reyna?', 'O', '¿Solange', 'Bagnasco?']

In [ ]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = ' + '##Puedo elegir cualquier caracter un punto, una coma, un espacio, un signo,etc
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo + Verde: mezcla de azul y amarillo + Naranja: mezcla de rojo y amarillo + Morado: mezcla de rojo y azul

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

razas_de_perros.insert(3,'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Golden Retriever',
 'Poodle']

In [ ]:
razas_de_perros.insert(len(razas_de_perros),'Beagle')
razas_de_perros

['Labrador Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Golden Retriever',
 'Poodle',
 'Chihuahua',
 'Chihuahua',
 'Beagle',
 'Beagle']

In [ ]:
razas_de_perros.pop(5)

'Chihuahua'

In [ ]:
razas_de_perros.index('Labrador Retriever')

0

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Beagle',
 'Beagle',
 'Bulldog Francés',
 'Chihuahua',
 'Golden Retriever',
 'Labrador Retriever',
 'Pastor Alemán',
 'Poodle']

In [ ]:
alumno = {
    'matrícula': 2028,
    'mes_de_registro': 'agosto',
    'grupo_del_estudiante':'2ac'
         }

In [ ]:
alumno['grupo_del_estudiante']

'2ac'

In [ ]:
alumno['modalidad_de_estudio']='virtual'
alumno

{'matrícula': 2028,
 'mes_de_registro': 'agosto',
 'grupo_del_estudiante': '2ac',
 'modalidad de estudio': 'virtual',
 'modalidad_de_estudio': 'virtual'}

In [ ]:
alumno.pop('mes_de_registro')
alumno

{'matrícula': 2028,
 'grupo_del_estudiante': '2ac',
 'modalidad de estudio': 'virtual',
 'modalidad_de_estudio': 'virtual'}

In [ ]:
alumno.items()

dict_items([('matrícula', 2028), ('grupo_del_estudiante', '2ac'), ('modalidad de estudio', 'virtual'), ('modalidad_de_estudio', 'virtual')])

In [ ]:
alumno.keys()

dict_keys(['matrícula', 'grupo_del_estudiante', 'modalidad de estudio', 'modalidad_de_estudio'])

In [ ]:
alumno.values()

dict_values([2028, '2ac', 'virtual', 'virtual'])

In [ ]:
for llave in alumno.keys():
  print(llave)

matrícula
grupo_del_estudiante
modalidad de estudio
modalidad_de_estudio

In [ ]:
for llave, valor in alumno.items():
  print(llave, '==>', valor)

matrícula ==> 2028
grupo_del_estudiante ==> 2ac
modalidad de estudio ==> virtual
modalidad_de_estudio ==> virtual

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

In [ ]:
nombres = ['televisión', 'celular', 'notebook', 'geladeira', 'estufa']
precios = [2000, 1500, 3500, 4000, 1500]

for nombre, precio in zip(nombres, precios):
    print(f'El producto {nombre} cuesta {precio} pesos.')

El producto televisión cuesta 2000 pesos.
El producto celular cuesta 1500 pesos.
El producto notebook cuesta 3500 pesos.
El producto geladeira cuesta 4000 pesos.
El producto estufa cuesta 1500 pesos.

In [ ]:
precios = [2000, 1500, 3500, 4000, 1500]
sum(precios)

12500

In [ ]:
precios = [2000, 1500, 3500, 4000, 1500]
dir(precios)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
## 1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos.
## Sugerencia: usa las funciones integradas sum() y len().

gastos_empresas = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
sum(gastos_empresas)
print(f'La suma de gastos es {sum(gastos_empresas)}')

promedio_gastos = sum(gastos_empresas)/len(gastos_empresas)
print(promedio_gastos)
print(f'El promedio de gastos es {promedio_gastos}')

La suma de gastos es 31442.22
3144.222
El promedio de gastos es 3144.222

In [ ]:
## 2 - Con los mismos datos de la pregunta anterior,
## determina cuántas compras se realizaron por encima de 3000 reales y
## calcula el porcentaje con respecto al total de compras.

gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
compras_mayores_3000 = [gasto for gasto in gastos if gasto > 3000]
len(compras_mayores_3000)
print(f'Hubo {len(compras_mayores_3000)} compras que estuvieron por encima de R$3000,00.')


total_gastos = sum(gastos)
total_compras_mayores_3000 = sum(compras_mayores_3000)
porcentaje_compras_mayores_3000 = (total_compras_mayores_3000 / total_gastos) * 100


print(f'El {porcentaje_compras_mayores_3000:.2f}% de los gastos estuvieron por encima de R$3000,00.')

Hubo 7 compras que estuvieron por encima de R$3000,00.
El 76.68% de los gastos estuvieron por encima de R$3000,00.

In [ ]:
##3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista.
## Ejemplo: [1, 4, 7, 2, 4].


import random

lista_numeros_aleatorios = []

for _ in range(5):
    numero_aleatorio= random.randint(1,100)  # puedes cambiar el rango si lo deseas
    lista_numeros_aleatorios.append(numero_aleatorio)

print(lista_numeros_aleatorios)

[84, 14, 70, 46, 71]

In [ ]:
##Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

import random

lista_numeros_aleatorios = []

for _ in range(5):
    numero_aleatorio= random.randint(1,100)
    lista_numeros_aleatorios.append(numero_aleatorio)

print("Lista original:", lista_numeros_aleatorios)
print("Lista en orden inverso:", list(reversed(lista_numeros_aleatorios)))

Lista original: [71, 88, 25, 86, 11]
Lista en orden inverso: [11, 86, 25, 88, 71]

In [ ]:
## 5 - Crea un programa que, al ingresar un número cualquiera,#genere una lista que contenga todos los números primos entre 1 y el número ingresado.

lista_numero_primos = []

numero_usuario = int(input("Ingrese un número: "))
lista_numero_primos.append(numero_usuario)

for numero in range(0, numero_usuario + 1):
  print(f'Los números primos entre 1 y {numero_usuario} son: {lista_numero_primos}')

Ingrese un número: 50
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]
Los números primos entre 1 y 50 son: [50]

In [ ]:
## 5 - Crea un programa que, al ingresar un número cualquiera,genere una lista que contenga todos los números primos entre 1 y el número ingresado.

lista_numeros_primos = []

numero_usuario = int(input("Ingrese un número: "))

for numero in range(2, numero_usuario + 1):
    es_primo = True
    for divisor in range(2, int(numero ** 0.5) + 1):
        if numero % divisor == 0:
                 es_primo = False
                 break
    if es_primo:
        lista_numeros_primos.append(numero)


print(f'Los números primos entre 1 y {numero_usuario} son: {lista_numeros_primos}')

Ingrese un número: 10
Los números primos entre 1 y 10 son: [2, 3, 5, 7]

In [ ]:
##Crear un programa que pida la fecha y ver que esa fecha sea válida

from datetime import date
from datetime import datetime

fecha_actual = date.today()
print(fecha_actual)

hora_actual = datetime.now()
print(hora_actual)

2025-05-11
2025-05-11 15:31:36.685086

In [ ]:
##  Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

from datetime import datetime

fecha_usuario = input('Ingrese una fecha según el formato día/mes/año: ')
formatos_validos = ['%d/%m/%Y', '%d-%m-%Y',]

fecha = None

for formato in formatos_validos:
    try:
        fecha = datetime.strptime(fecha_usuario, formato)
        print('La fecha es válida para su análisis')
        break
    except ValueError:
        pass



if fecha is None:
    print('La fecha no es válida')

Ingrese una fecha según el formato día/mes/año: 2099/4/4
La fecha no es válida

In [ ]:
##7 - Para un estudio sobre la multiplicación de bacterias en una colonia,
##se recopiló el número de bacterias multiplicadas por día y se pudo observar lo siguiente:
##[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9].
##Con estos valores, crea un código que genere una lista que contenga
##el porcentaje de crecimiento bacteriano por día, comparando el número de bacterias de cada
## día con el número de bacterias del día anterior.
##Sugerencia: para calcular el porcentaje de crecimiento,
##utilice la siguiente ecuación: 100 * (tasa_actual - tasa_anterior) / tasa_anterior.

lista_porcentaje_crecimiento = []
lista_diaria_de_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

tasa_anterior = lista_diaria_de_bacterias[0]
lista_porcentaje_crecimiento.append(0)


for tasa_actual in lista_diaria_de_bacterias[1:]:
    porcentaje_crecimiento = 100 * (tasa_actual - tasa_anterior) / tasa_anterior
    lista_porcentaje_crecimiento.append(porcentaje_crecimiento)
    tasa_anterior = tasa_actual
    print(f'El porcentaje de crecimiento por día  es {porcentaje_crecimiento:.2f}')

El porcentaje de crecimiento por día  es 75.00
El porcentaje de crecimiento por día  es 57.14
El porcentaje de crecimiento por día  es 51.52
El porcentaje de crecimiento por día  es 56.00
El porcentaje de crecimiento por día  es 44.87
El porcentaje de crecimiento por día  es 46.90
El porcentaje de crecimiento por día  es 51.20
El porcentaje de crecimiento por día  es 50.60
El porcentaje de crecimiento por día  es 50.53

In [ ]:
##8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs
## proporcionados por números enteros, sabiendo que los productos con ID par
##son dulces y los que tienen ID impar son amargos.
##Crea un código que recoja 10 IDs.
##Luego, calcula y muestra la cantidad de productos dulces y amargos.


productos_dulces = 0
productos_amargos = 0

for _ in range(10):
    id_producto = int(input("Ingrese el ID del producto: "))
    if id_producto % 2 == 0:
        productos_dulces += 1
    else:
        productos_amargos += 1
        productos_amargos.as_integer_ratio
        productos_dulces.as_integer_ratio

print(f'La cantidad de productos dulces es: {productos_dulces.as_integer_ratio}')
print(f'La cantidad de productos amargos es: {productos_amargos.as_integer_ratio}')

Ingrese el ID del producto: 567
Ingrese el ID del producto: 567
Ingrese el ID del producto: 566
Ingrese el ID del producto: 566
Ingrese el ID del producto: 234
Ingrese el ID del producto: 543
Ingrese el ID del producto: 1243
Ingrese el ID del producto: 456
Ingrese el ID del producto: 908
Ingrese el ID del producto: 567
La cantidad de productos dulces es: 5
La cantidad de productos amargos es: 5

In [ ]:
##9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo
## con sus respuestas.Debe pedir la respuesta del estudiante para cada pregunta y
## verificar si la respuesta coincide con el resultado.
## Cada pregunta vale un punto y hay opciones A, B, C o D.
##Resultado del examen:
#01 - D
#02 - A
#03 - C
#04 - B
#05 - A
#06 - D
#07 - C
#08 - C
#09 - A
#10 - B


resultados_examen = ['D', 'A', 'C', 'B', 'A','D','C','C','A','B']

contador = 0
for i in range(10):
  respuestas_estudiante = input(f'Ingresa su respuesta para la pregunta {i+1} (A,B,C o D): ').upper()
  if respuestas_estudiante == resultados_examen[i]:
      contador += 1
  else:
      print('La respuesta es incorrecta')

print(f'La calificación del estudiante es {contador}')

La respuesta es incorrecta
La respuesta es incorrecta

In [ ]:
##10- Un instituto de meteorología desea realizar un estudio de la temperatura
## media de cada mes del año. Para ello, debes crear un código que recoja
##y almacene esas temperaturas medias en una lista.
##Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas
## por encima del promedio anual  y en qué mes ocurrieron,
##mostrando los meses por su nombre (Enero, Febrero, etc.).


temperaturas_medias = []
nombres_meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']

# Bucle para recoger la temperatura de cada mes
for i in range(len(nombres_meses)):
    # Solicitar la temperatura para el mes actual y convertirla a float
    temperatura_mes_str = input(f'Ingrese la temperatura media del mes de {nombres_meses[i]}:')
    # Reemplazar la coma por un punto para asegurar la correcta conversión a float
    temperatura_mes_str = temperatura_mes_str.replace(',', '.')
    try:
        temperatura_mes = float(temperatura_mes_str)
        temperaturas_medias.append(temperatura_mes)
    except ValueError:
        print(f"Entrada inválida para {nombres_meses[i]}. Por favor, ingrese un número.")
        # Puedes manejar este error de otra forma si lo deseas, como salir o pedir de nuevo.
        # Para este ejemplo, continuaremos y la lista podría no tener 12 elementos.
        # Una mejor práctica sería implementar un bucle while para validar la entrada.


# Calcular el promedio anual solo si se han ingresado temperaturas
if temperaturas_medias:
    promedio_anual_temperatura = sum(temperaturas_medias) / len(temperaturas_medias)
    print(f'El promedio anual de las temperaturas es {promedio_anual_temperatura:.2f}') # Formatear a 2 decimales

    # Mostrar temperaturas por encima del promedio
    print("\nTemperaturas por encima del promedio anual:")
    for i in range(len(temperaturas_medias)):
        if temperaturas_medias[i] > promedio_anual_temperatura:
            print(f'{nombres_meses[i]}: {temperaturas_medias[i]:.2f}')
else:
    print("No se ingresaron temperaturas para calcular el promedio.")

Ingrese la temperatura media del mes de enero:10.5
Ingrese la temperatura media del mes de febrero:10.5
Ingrese la temperatura media del mes de marzo:10.5
Ingrese la temperatura media del mes de abril:10.5
Ingrese la temperatura media del mes de mayo:15
Ingrese la temperatura media del mes de junio:15
Ingrese la temperatura media del mes de julio:15
Ingrese la temperatura media del mes de agosto:15
Ingrese la temperatura media del mes de septiembre:20
Ingrese la temperatura media del mes de octubre:25
Ingrese la temperatura media del mes de noviembre:30
Ingrese la temperatura media del mes de diciembre:35
El promedio anual de las temperaturas es 17.67

Temperaturas por encima del promedio anual:
septiembre: 20.00
octubre: 25.00
noviembre: 30.00
diciembre: 35.00

In [ ]:
##11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:
##{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
##Escribe un código que calcule el total de ventas y el producto más vendido.

ventas_comercio_electronico = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

total_ventas = sum(ventas_comercio_electronico.values())
print(f'El total de ventas es {total_ventas}')

producto_mas_vendido = max(ventas_comercio_electronico, key=ventas_comercio_electronico.get)
cantidad_mas_vendida = ventas_comercio_electronico[producto_mas_vendido]
print(f'El producto más vendido es {producto_mas_vendido} con {cantidad_mas_vendida} unidades vendidas')

El total de ventas es 920
El producto más vendido es Producto A con 300 unidades vendidas

In [ ]:
##12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:
##Tabla de votos de la marca
## Diseño 1 - 1334 votos
## Diseño 2 - 982 votos
## Diseño 3 - 1751 votos
## Diseño 4 - 210 votos
## Diseño 5 - 1811 votos

##Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

votos_diseño = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

ganador_diseño = max(votos_diseño, key=votos_diseño.get)
total_votos = sum(votos_diseño.values())
porcentaje_ganador = (votos_diseño[ganador_diseño] / total_votos) * 100
print(f'El diseño ganador es {ganador_diseño} con el {porcentaje_ganador:.2f}% de los votos')

El diseño ganador es Diseño 5 con el 29.75% de los votos

In [ ]:
##Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario
##debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para
##verificar las consecuencias financieras de esta bonificación en los recursos.
##Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903].
## La bonificación de cada empleado no puede ser inferior a 200.
## En el código, convierte cada uno de los salarios en claves de un diccionario y
## la bonificación de cada salario en el valor correspondiente.
## Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima
 ## y cuál fue el valor más alto de la bonificación proporcionada.

lista_de_salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

bonificaciones = {}

for salario in lista_de_salarios:
    bonificacion = max(salario * 0.1, 200)

    bonificaciones[salario] = bonificacion

gasto_total_bonificaciones = sum(bonificaciones.values())
print(f'El gasto total en bonificaciones es {gasto_total_bonificaciones}')

empleados_minima_bonificacion = sum(1 for bonificacion in bonificaciones.values() if bonificacion == 200)
print(f'Los empleados que recibieron la bonificación mínima son {empleados_minima_bonificacion}')

valor_max_bonificacion = max(bonificaciones.values())
print(f'El valor más alto de la bonificación proporcionada es {valor_max_bonificacion:.2f}')

El gasto total en bonificaciones es 6087.8
Los empleados que recibieron la bonificación mínima son 2
El valor más alto de la bonificación proporcionada es 790.30

In [17]:
##14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque.
## El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque
##y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores
## en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.
##{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496],
##'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}


area_de_estudio = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
                  }


for area, datos in area_de_estudio.items():
    plantas, animales = datos
    total = plantas + animales
    print(f"En {area} encontramos {plantas} plantas y {animales} animales. El total es {total}.")

En Área Norte encontramos 2819 plantas y 7236 animales. El total es 10055.
En Área Leste encontramos 1440 plantas y 9492 animales. El total es 10932.
En Área Sul encontramos 5969 plantas y 7496 animales. El total es 13465.
En Área Oeste encontramos 14446 plantas y 49688 animales. El total es 64134.
En Área Centro encontramos 22558 plantas y 45148 animales. El total es 67706.

In [18]:
total_plantas = 0
total_animales = 0

for datos in area_de_estudio.values():
    plantas, animales = datos
    total_plantas += plantas
    total_animales += animales

print(f"El total de especies de plantas en el área de estudio es {total_plantas}.")
print(f"El total de especies de animales en el área de estudio es {total_animales}.")

El total de especies de plantas en el área de estudio es 47232.
El total de especies de animales en el área de estudio es 119060.

In [23]:
##Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica.
##Sugerencia: utiliza las funciones incorporadas sum() y len().

area_de_estudio = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}

mayor_diversidad = 0
area_mas_diversa = ""

for area, datos in area_de_estudio.items():
    plantas, animales = datos
    total = plantas + animales
    promedio = total / 2

    print(f"En el {area} encontramos {plantas} plantas y {animales} animales. El promedio es {promedio:.2f} especies.")

    if total > mayor_diversidad:
        mayor_diversidad = total
        area_mas_diversa = area

print(f"El área con mayor diversidad biológica es el {area_mas_diversa} con un total de {mayor_diversidad} especies.")

En el Área Norte encontramos 2819 plantas y 7236 animales. El promedio es 5027.50 especies.
En el Área Leste encontramos 1440 plantas y 9492 animales. El promedio es 5466.00 especies.
En el Área Sul encontramos 5969 plantas y 7496 animales. El promedio es 6732.50 especies.
En el Área Oeste encontramos 14446 plantas y 49688 animales. El promedio es 32067.00 especies.
En el Área Centro encontramos 22558 plantas y 45148 animales. El promedio es 33853.00 especies.
El área con mayor diversidad biológica es el Área Centro con un total de 67706 especies.

In [25]:
##- El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores
##de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:
##{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
## 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
## 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
## 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
##Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector,
## la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

edades_colaboradores = {
'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

total_edades_general = 0
total_colaboradores_general = 0
edades_por_encima_media = 0

for sector, edades in edades_colaboradores.items():
    total_edades_sector = sum(edades)
    total_colaboradores_sector = len(edades)
    edad_media_sector = total_edades_sector / total_colaboradores_sector
    print(f"La edad media del sector {sector} es {edad_media_sector:.2f} años.")

    total_edades_general += total_edades_sector
    total_colaboradores_general += total_colaboradores_sector

edad_media_general = total_edades_general / total_colaboradores_general
print(f"\nLa edad media general entre todos los sectores es {edad_media_general:.2f} años.")

for sector, edades in edades_colaboradores.items():
    for edad in edades:
        if edad > edad_media_general:
            edades_por_encima_media += 1

print(f"La cantidad de personas por encima de la edad media general es {edades_por_encima_media}.")

La edad media del sector Sector A es 39.90 años.
La edad media del sector Sector B es 42.30 años.
La edad media del sector Sector C es 35.80 años.
La edad media del sector Sector D es 36.50 años.

La edad media general entre todos los sectores es 38.62 años.
La cantidad de personas por encima de la edad media general es 18.

In [29]:
edades_colaboradores = {
    'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

total_edades_general = 0
total_colaboradores_general = 0
edades_por_encima_media = 0

# 1. Calcular edad media por sector y acumular datos para el promedio general
for sector, edades in edades_colaboradores.items():
    edad_media_sector = sum(edades) / len(edades)
    print(f"La edad media del {sector} es {edad_media_sector:.2f} años.")

    total_edades_general += sum(edades)
    total_colaboradores_general += len(edades)

# 2. Calcular edad media general
edad_media_general = total_edades_general / total_colaboradores_general
print(f"\nLa edad media general entre todos los sectores es {edad_media_general:.2f} años.")

# 3. Contar cuántas personas están por encima de la edad media general
for edades in edades_colaboradores.values():
    for edad in edades:
        if edad > edad_media_general:
            edades_por_encima_media += 1

print(f"Hay {edades_por_encima_media} personas por encima de la edad media.")

La edad media del Sector A es 39.90 años.
La edad media del Sector B es 42.30 años.
La edad media del Sector C es 35.80 años.
La edad media del Sector D es 36.50 años.

La edad media general entre todos los sectores es 38.62 años.
Hay 18 personas por encima de la edad media.